@model IEnumerable<CarritoComprasD.Entities.UsuarioPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuarioPedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuarioPedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuarioPedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
